.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal{
    width:500px;
    max-width:95%;
    background:white;
    border-radius:12px;
    padding:25px;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.close-btn{
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
}

.modal label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}

.modal input,
.modal textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.modal-actions{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    margin-top:25px;
}

.cancel-btn{
    background:#999;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.save-btn{
    background:#6f4e37;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.save-btn:hover{
    background:#8b5a2b;
}